[submodule "Futureproof-Lap1-GroupProject-Journal_Project_Backend"]
	path = Futureproof-Lap1-GroupProject-Journal_Project_Backend
	url = https://github.com/buscaroli/Futureproof-Lap1-GroupProject-Journal_Project_Backend.git
